* {
    margin: 0px;
    padding: 0px;
}

#navHeader {
    background-color: #fff;
    display: flex;
    padding: 20px 120px;
    justify-content: space-around;
    align-items: center;



}

.navContainer {
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    list-style-type: none;
    padding: 10px 20px;



}

.navContainer li a {
    text-decoration: none;
    color: #111111;

}

.active:hover a {
    color: #d99d0d;
    opacity: .4;
}

#viewoort {
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/4267640/images/dietary-menu-healthy-vegan-salad-vegetables-broccoli-mushrooms-spinach-quinoa-bowl-flat-lay-top-view.jpg");
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center;
}

.abs {
    position: absolute;
    color: #fff;
    bottom: 350px;
    left: 220px;

}

.new {
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.2;

    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    bottom: -40px;

}

.circle {
    width: 225px;
    height: 225px;
    background-color: #99e54d;
    border-radius: 50%;
    position: relative;
    text-align: center;
    color: #111111;


}

.story {
    width: 400px;
    height: 198px;
    font-size: 3.75rem;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    color: #fff;
    position: absolute;
    bottom: -260px;

}

.Freepik2 {
    color: #99e54d;
    text-decoration: none;



}

.imagefrom2 {

    font-size: 1.125rem;
    color: #fff;
    margin: 21px 137px 0 1px;
    font-family: Raleway, sans-serif;
    position: absolute;
    bottom: -320px;
    width: 373px;
    height: 28.8px;


}

.bbb {
    font-size: 3.75rem;
    font-weight: 750;
    width: 134px;
    height: 66px;
    font-family: Montserrat, sans-serif;
    position: absolute;
    bottom: 112.5px;
    left: 50px;
}

.lunch {
    width: 119px;
    height: 43.2px;
    position: absolute;
    bottom: 10px;
    left: 50px;
    font-family: Montserrat, sans-serif;
    font-size: 1.125rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;

}

.bt2 {

    border-radius: 50px;
    background-color: #f1ae0e;

    position: absolute;
    bottom: -400px;

}

.readmore2 {
    color: #ffffff;
    text-decoration: none;
    padding: 16px 43px 16px 42px;
    display: block;
    line-height: 21px;
    font-size: medium;
    font-weight: 650;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;

}

.bt2:hover {

    background-color: #fff3b8;

}

.bt2 a:hover {
    color: #111111;
    opacity: 1;
}






#Menu {
    padding: 60px;
    background-color: #1a1a1a;
    padding-left: 120px;
}

.header {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    margin: 50px auto;

}

.title {
    color: #474747;
    font-size: 48px;
    margin: 60px auto 0;
    font-family: Raleway, sans-serif;
    font-weight: 700px;
    text-align: center;
    font-size: 3rem;
    line-height: 1.1;
    padding: 0;
    color: #fff;
    padding: 0;
}

.descp {
    color: #fff;
    font-family: Raleway, sans-serif;
    width: fit-content;
    margin: 30px auto 0;
    font-size: 1.125rem;
}

.Freepik {
    color: #d99d0d !important;
    font-weight: 700;
    text-decoration: none;

}

.container {

    padding: 10px;
    margin: 80px;
    margin-top: 40px;

}

.cardDetails {

    color: #fff;
    text-align: center;
}

.card {
    padding: 10px;
    text-decoration: none;
    padding-bottom: 10px;



}

.cardImage {
    width: 545px;
    height: 484px;

    background-size: cover;
    border-radius: 50px;



}

.cardImage img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.readmore {
    color: #1a1a1a;
    text-decoration: none;
    padding: 16px 43px 16px 42px;
    display: block;
    line-height: 21px;
    font-size: medium;

}

h6 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 1.125rem;
    line-height: 1.2;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bt {
    padding: 3px;
    border-radius: 50px;
    background-color: #99e54d;
    margin-bottom: 25px;

}

.cost {
    color: #fff;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    line-height: 1.1
}

.sc {
    font-size: 1.125rem;
    line-height: 1.2;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
}

.para {
    margin-left: 0;
    margin-right: 0;
    color: #fff;
    font-size: 1.125rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    font-family: Raleway, sans-serif;
    line-height: 1.6;




}

.imagefrom {

    font-size: 1.125rem;
    color: #fff;
    margin: 21px 137px 0 1px;
    font-family: Raleway, sans-serif;

}

.cardImage2 {
    width: 545px;
    height: 550px;

    background-size: cover;
    border-radius: 50px;
    padding-top: 150px;


}

.cardImage2 img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.ptxt {
    padding-top: 350px;
}